<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shopping Books - Jigar's Online Book Store</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!-- Header Fragment -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Page Content -->
<h2>Shopping Books</h2>

<!-- Wrap the table in a scrollable div -->
<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.bookISBN}">960518</td>
      <td th:text="${book.bookTitle}">Introduction to Java Language</td>
      <td th:text="${book.bookAuthor}">Kathy Sierra and Bert Bates</td>
      <td th:text="${book.bookPrice}">12.0</td>
      <td>
        <form th:action="@{/add-to-cart}" method="post">
          <input type="hidden" name="isbn" th:value="${book.bookISBN}">
          <button type="submit">Add to Cart</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<h3>Number of Books in the Shopping Cart: <span th:text="${cartItemCount}">0</span></h3>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>